@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
// @mixin (mixin-name) {statements}
//  {@include base.@(mixin-name)}

$red: #ff0000; // red?
$black: #000; // defult black
$white: #fff; // defult white
$blackish: #0a0514; // our black
$whiteish: #fff2ef; // our white
$yellowish: rgb(255, 227, 68); // favorites
$pinkish: #ad776d;

$link-hover: #ad776d;

$scroll-bg: #5e5e5e;
$scroll-color: #ad776d;
$scroll-hover: #d8604d;

$color-font-w: #fff2ef;
$color-font-b: #0a0514;

$font-p: "Times New Roman", Times, serif;
$font-p1: "Playfair Display", serif;
$font-h: "Rubik Dirt";
$font-titelnormal: "Arial";
$font-h1: "Dela Gothic One", cursive;

$box-color: #bd887fa2;
$box-border-color: #f5dfdbcd;

$table-line1: #cea49d77;
$table-line2: #cea49d77;

$button-shadow: 0px 1px 10px 0px black;

$small-padding: 5px;

@mixin custom-box-shadow {
    box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
}

@mixin Button {
    color: white;
    font-family: $font-h1;
    font-size: 1.5rem;

    background-color: #bd887f;

    border: 2px solid $box-border-color;
    border-radius: 16px;

    padding: 1vh 1vw;
    margin: 0px;

    cursor: pointer;
}

@mixin Button-slideshow {
    color: white;
    font-family: $font-h1;
    font-size: 1.5rem;

    background-color: #bd887f;

    border: 2px solid $box-border-color;
    border-radius: 16px;

    padding: 1vh 1vw;
    margin: 0px;

    cursor: pointer;
}

@mixin Boxes {
    background-color: $box-color;

    color: $whiteish;

    border: 10px solid $box-border-color;
    border-radius: 25px;

}