@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

$red: rgb(179, 0, 0);
$black: #000;
$white: #fff;
$blackish: #181818;

$small-padding: 5px;

@mixin custom-box-shadow {
    box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 10px 24px 0px rgba(0, 0, 0, 0.29);
}