@use "base";

footer#footer {
    width: 100%;
    padding: 5dvh 0;

    background-color: base.$blackish;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
        width: 100%;
        max-width: base.$common-max-width;

        display: flex;
        flex-direction: column;

        .footer-logo {

        }

        .footer-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
                display: flex;
                flex-direction: column;
            }

            .footer-planets {
                text-align: right;
            }
        }
    }
}
