@use "base";

.test-shadow-box {
    @include base.custom-box-shadow;

    background-color: base.$red;
}

#nav{
    background-color: base.$blackish;
    font-size: 3rem;
    color: base.$white;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#nav a{
    padding-right: 1rem;
}