@use "base";

#home {
  position: relative;

  width: 100vw;
  height: fit-content;
  min-height: calc(100vh - 250px);
  

  .nebulae {
    background-image: url("../src/assets/img/nebulae.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .Homebox {
    display: flex;
    flex-wrap: wrap;

    padding-top: 80px;

    width: 100%;
    height: fit-content;
    min-height: calc(100vh - 250px);

    
    .left {
      height: 100%;
      width: 50%;
      
      margin: auto;

      text-align: center;

      #planetoftheday {
        height: fit-content;

        .slideshowbild{
          height: 30vw;
          max-height: 45vh;
          min-height: 380px;
        }
      }
    }

    .right {
      display: flex;

      height: 100%;
      width: 50%;

      margin: auto;

      text-align: center;

      /* Styles for the box */
      .textbox {
        background-color: #28032fbb;
        
        color: base.$whiteish;
        text-align: center;

        width: 70%;
        min-height: 400px;

        padding: 4vh; 
        margin: 4vh auto;
        
        border: 10px solid black;
      }
    }

  }

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .Homebox {
      
      .left {
        margin-top: 25px;
        
        width: 100%;

        #planetoftheday {

          .slideshowbild{
            height: 50vw;
            min-height: 50vw;
          }
        }
      }
      
      .right {
        width: 100%;
      }
      
    }
    
  }

  .break-flex-small-screen {
    flex-basis: 100%;
    height: 0;
  }

  .break-flex-all-screen {
    flex-basis: 100%;
    height: 0;
  }
}
