@use "base";

.tabellDiv {
    background-color: base.$table-line1;
    color: base.$whiteish;
    height: 70%;
    width: 70%;

    margin: 0;
    padding-right: 8px;
    padding-left: 8px;

    position: absolute;
    top: 50%;
    left: 50%;

    color: base.$color-font-w;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    overflow: auto;
    scroll-behavior: smooth;

    border-radius: 10px;
}

#favoriteButton {
    background: none;
    border: none;
    color: base.$color-font-w;
    cursor: pointer;
    transition: 0.3s ease;
}

#favoriteButton:hover {
    color: base.$yellowish;
}

#btnContent {
    font-size: 1.5rem;
    cursor: pointer;
}

.makeFavorite {
    color: gold !important;
    transition: 0.3s ease;
}

/*.makeFavorite:hover{
    color: white !important;
}*/

.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    background-color: base.$whiteish;

    position: sticky;
    top: 0;

    height: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    border: 1px solid black;

    font-size: 1.4rem;
    font-family: base.$font-titelnormal;
    font-weight: bold;
    color: base.$color-font-b;

    .search {
        background-color: base.$color-font-w;
        position: sticky;
        top: 0;

        height: 25px;
        width: 40%;
        padding-left: 15px;

        border: 2px solid base.$blackish;
        border-radius: 5px;
    }

    input[type="text"]:focus {
        border: none;
        border-radius: 5px;
        box-shadow: none;
    }

    .filter-span {
        color: inherit;
        margin-left: 5px;
        margin-right: 10px;
    }

    .select-type {
        height: 25px;

        text-align: center;
        color: inherit;
        font-size: 1rem;
        font-family: inherit;

        input {
            margin: 10px;
        }
    }

    .fav-type {
        background-color: base.$whiteish;

        width: fit-content;
        padding-left: 5px;

        text-align: center;
        color: base.$blackish;
    }
}

// ----- Table general style ------------------------------

.itemtable {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 1.6rem;
    scroll-behavior: smooth;
    
    td, th {
        border:1px solid black;
        text-align: left;
        padding: 2px 0px 2px 7px;
        border: none;
        height: 3rem;
    }

    td {
        font-family: base.$font-p;
        cursor: pointer;
    }

    tbody tr:hover {
        transform: scale(1, 1.03);
        box-shadow: 0px 3px 3px black;
    }

    th {
        top: 30px;
        position: sticky;
        background: base.$whiteish;
        color: black;
        font-family: base.$font-titelnormal;
        z-index: 10;
        cursor: pointer;
    }

    tr:nth-child(even) {
        background-color: base.$table-line2;
    }

    // ----- columns in table ---------------------------------

    // Favorite column
    .item-table-title-favo,
    .item-table-info-favo {
        min-width: 40px;

        padding: 0;

        text-align: center;
    }

    // Number column
    .item-table-title-nr,
    .item-table-info-nr {
        min-width: 60px;

        padding: 0;

        text-align: center;
    }

    // Type column
    .item-table-title-type,
    .item-table-info-type {
        min-width: 100px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-type {
        padding-left: 5px;
    }

    // Name column
    .item-table-title-name,
    .item-table-info-name {
        min-width: 170px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-name {
        padding-left: 10px;
        padding-right: 2px;

        text-align: center;
    }

    // temperature column
    .item-table-title-temp,
    .item-table-info-temp {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        min-width: 160px;

        text-align: center;
    }
    .item-table-info-temp {
        text-align: center;

        padding-left: 15px;
    }

    // Gravity column
    .item-table-title-grav,
    .item-table-info-grav {
        min-width: 60px;

        padding: 0;

        text-align: center;
    }
    .item-table-info-grav {
        text-align: center;

        padding-left: 10px;
        padding-right: 10px;
    }

    // Discovered column
    .item-table-title-disc,
    .item-table-info-disc {
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;

        min-width: 160px;

        text-align: center;
    }
    .item-table-info-disc {
        text-align: center;

        padding-left: 15px;
        padding-right: 10px;
    }
}
