.tabellDiv{
    height: 70%;
    width: 80%;
    color: white;
    background-color: rgba(73, 73, 73, 0.76);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: auto;
    scroll-behavior: smooth;
    table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        font-size: 1.7rem;
    }
    td, th{
        border:1px solid black;
        text-align: left;
    }
    th {
        top: 0;
        position: sticky;
        background: #ffffff;
        color: black;
     }
     tr:nth-child(even) {
        background-color: rgba(41, 41, 41, 0.76);
      }
}
