@font-face {
    font-family: "NeonAdventure"; // Namnet på din fontfamilj
    src: url("../src/assets/fonts/neonadventure.ttf") format("truetype"); // Sökvägen till din TTF-fil
}

#login {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .spacepic {
        background-image: url("../src/assets/img/spacepic.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: blur(8px);
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    // Media query for screens smaller than 768px
    @media screen and (max-width: 768px) {
        .spacepic {
            filter: blur(0); // Remove blur effect for smaller screens
        }
    }

    .login-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(57, 110, 156, 0.301);
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    h2 {
        font-family: "NeonAdventure", sans-serif; // Använd din nya font här
        font-size: 28px;
        margin-bottom: 20px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid rgb(255, 204, 0);
        border-radius: 5px;
    }

    label {
        display: flex;
        align-items: center;
        margin: 5px 0;
        font-size: 18px;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: hsl(0, 0%, 100%);
        color: #000000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "NeonAdventure", sans-serif; // Använd din nya font här
    }

    // Style for the "Not signed up yet? Register here." button
    .register-text {
        font-size: 18px;
    }

    @media screen and (max-width: 768px) {
        .register-text {
            font-size: 14px; // Anpassa textstorleken för mindre skärmar
        }
    }

    button.register-button {
        color: rgb(176, 30, 30);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        font-family: "NeonAdventure", sans-serif; // Använd din nya font här
    }
}
