@use "base";

#nav{
   font-family: 'Bungee Inline', cursive;
    background-color: base.$blackish;
    font-size: 2rem;
    color: base.$white;
    padding-left: 1rem;
    display:inline-block;
    width: 100%;
    position: fixed;
    line-height: 5rem;
 a{
    padding-right: 1rem;
   }
 }

 #navright{
    float: right;
    font-size: 3rem !important;
 }

 #navleft{
    float: left;
 }