@use "base";

#nav{
   z-index: 10;
   font-family: 'Bungee Inline', cursive;
   background-color: base.$blackish;
   font-size: 2rem;
   color: base.$white;
   padding-left: 1rem;
   display: inline-block;
   width: 100%;
   position: fixed;
   line-height: 5rem;
   user-select: none;

   a {
    padding-right: 1rem;
   }
   
   img {
   display: inline;
   height: 3rem;
   float: left;
   padding-right: 1rem;
   margin-top: 0.8rem;
   border-radius: 15px;
   }
}

#navright {
   float: right;
   font-size: 3rem !important;
}

#navleft {
   float: left;
}

#droppa {
   display: inline;
}

.toggla {
   display: inline !important;
}

#dropknapp {
   display: none;
}

.hamb1, .hamb2, .hamb3 {
   width: 2.3rem;
   height: 0.35rem;
   background-color: rgb(255, 255, 255);
   margin: 0.35rem 0;
   transition: 0.4s ease;
}

.droppaPlanets {
   display: inline-block;
}

#planetsID {
   cursor: pointer;
}

.contentPlanets {
   display: none;
   position: absolute;
   min-width: 160px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   overflow: auto;
   max-height: 200px;
   background-color: base.$blackish;

   a {
      display: block;
   }
 }

.togglaPlanets {
   display: block !important;
}

@media only screen and (max-width:700px){
   #nav {
      img {
         display: block;
      }
   }

   #droppa {
      display: none;
   }

   #droppa a {
      display: block;
      width: 100%;
   }

   #navleft {
      float: none;
   }
   
   #navright {
      float: none;
   }

   #dropknapp {
      display: inline !important;
      float: right;
      margin-right: 1rem;
      background: none;
      border: none;
      margin-top: 1rem;
   }

   .contentPlanets {
   position: relative !important;
   }
}