@use "base";

// ----- navbar stylses -------------------------------------------------------

#nav{ 
   background-color: base.$blackish;
   color: base.$whiteish;
   
   position: fixed;
   z-index: 10;
   width: 100%;

   display: inline-block;
   padding-left: 1rem;

   font-family: 'Bungee Inline';
   font-size: 2rem;
   line-height: 5rem;
   
   user-select: none;

   a {
    padding-right: 1rem;
   }
   
   img {
   display: inline;
   float: left;
   height: 3rem;

   margin: 0.95rem 1rem auto 0px;

   border-radius: 10px;
   }
}

// ----- Right elements in navbar - Home, Items, Planet
#navright { 
   float: right;
   font-size: 3rem !important;
}

// ----- Left elements in Navbar - Login/Logout/Profile, Favorites
#navleft {
   float: left;
}

#droppa {
   display: inline;
}

.toggla {
   display: inline !important;
}

#dropknapp {
   display: none;
}

.hamb1, .hamb2, .hamb3 {
   background-color: rgb(255, 255, 255);
   
   width: 2.3rem;
   height: 0.35rem;

   margin: 0.35rem 0;

   transition: 0.4s ease;
}

.droppaPlanets {
   display: inline-block;
}

#planetsID {
   cursor: pointer;
}

.contentPlanets {
   background-color: base.$blackish;
   
   position: absolute;
   display: none;
   z-index: 1;
   overflow: auto;

   margin-left: -40px;
   

   min-width: 160px;
   max-height: 200px;

   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

   text-align: center;

   border-radius: 0px 0px 7px 7px;
   a {
      display: block;
      padding-left: 1rem;
   }
 }

.togglaPlanets {
   display: block !important;
}

@media only screen and (max-width:700px){
   // #nav {
   //    // img {
   //    //    display: block;
   //    // }
   // }

   #droppa {
      display: none;
   }

   #droppa a {
      display: block;
      width: 100%;
   }

   #navleft {
      float: none;
   }
   
   #navright {
      float: none;
   }

   #dropknapp {
      background: none;

      display: inline !important;
      float: right;

      margin-right: 1rem;
      margin-top: 1rem;

      border: none;
   }

   .contentPlanets {
      position: relative !important;
      margin-left: -0px;
      text-align: left;

   }
}