@use "base";


#planet{

 position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

 .planet-info{

    display: flex;
    justify-content: flex-end; /* Move the box to the right */
    align-items: center;
    margin-top: 40%;
 }