@use "base";

#planet {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  float: left;
}

.planet-box {
  display: flex;
  justify-content: center; /* Move the box to the right */
  align-items: center;
  width: 45%; /* Adjusted for responsiveness */
  height: 100%; /* Adjusted for responsiveness */
  position: absolute; /* Adjust this margin-right value as needed */
  z-index: 1;
  align-content: left;

  .planet-info {
    float: left;
    clear: both;
    position: absolute;
    width: auto; /* Allow the text box to expand horizontally as needed */
    height: auto; /* Allow the text box to expand vertically as needed */
    max-width: 60%; /* Limit the maximum width */
    max-height: 80%; /* Limit the maximum height for responsiveness */
    margin: auto;

    background-color: #50035e70; /* Bright color */
    color: #ffffff; /* Text color */

    text-align: center;

    /* Add a minimum height or some content to ensure the box is visible */
    padding: 5vh; /* Adjusted for responsiveness */
    border-radius: 15px; /* Remove border-radius to make it square */
    border: 10px solid black;
  }

  .box-title {
    margin-top: 2%;
    float: left;
    top: 15%;
    position: absolute;
    margin-bottom: 10%;
    background-color: #50035e70; /* Bright color */
    color: #ffffff; /* Text color */
    padding: 2vh; /* Adjusted for responsiveness */
    border-radius: 15px; /* Remove border-radius to make it square */
    text-align: center;
    width: auto; /* Allow the text box to expand horizontally as needed */
    height: auto; /* Allow the text box to expand vertically as needed */
    max-width: 35%; /* Limit the maximum width */
    max-height: 60%; /* Limit the maximum height for responsiveness */
    /* Add a minimum height or some content to ensure the box is visible */
    min-height: 50px;
    border: 8px solid black;
    overflow: auto; /* Add overflow property to enable scrolling when needed */
  }
}

@media only screen and (max-width: 700px) {
  .planet-box {
    width: 100%;
  }

  .planet-info {
    max-width: 100%;
  }

  .box-title {
    max-width: 50%;
    margin-top: 5%;
  }
}
